/*body {
	margin:0px;
	padding:0px;
	background-color: #FFFAEE;
}*/


#contact-container {
	width:1200px;
	height:837px;
	margin:0px auto;
	/*background-image: url(../images/contact/contact-image.JPG);
	background-repeat: no-repeat;*/
	background-color: #FFFAEE;
}

/*#contact-container-fade {
	width:1200px;
	height:837px;
	background-color: rgba(51, 51, 51, 0);
}*/

#contact-menu {
	width:1200px;
	background-image: url(../images/services/updoc-menu-bg.jpg);
}

#menu ul li:nth-child(6) {
	border-bottom: 1px solid #FE8C24;
}

#contact-content {
	width: 910px;
	height:450px;
	margin:100px auto;
	border:2px solid #333333;
	/*background-color: rgba(51, 51, 51, 0.8);*/
	/*background-color: rgba(255, 250, 238, .9);*/
	padding:25px;
}

#contact-content div h1 {
	font-family: norwester;
	color:#333333;
	margin:0px;
}

#contact-address {
	/*display: inline-block;*/
	width:365px;
	height:450px;
	/*background-color: blue;*/
	float: left;
	position: relative;
}

#contact-address h2 {
	font-family: dosis;
	color:#333333;
	margin-bottom:0px;
	font-size: 28px;
}

#contact-address em {
	font-family: dosis;
	color:#333333;
	font-size: 22px;
}

#map_canvas {
	width:311px;
	height:220px;
	position: absolute;
	bottom:0px;
	border:2px solid #333333;
}

#contact-form {
	/*display: inline-block;*/
	float: left;
	width:465px;
	height:450px;
	/*background-color: green;*/
	padding-left:25px;
	margin-left:50px;
}




