
#contact-container {
	width:1200px;
	margin:0px auto;
	background-color: #FFFAEE;
	padding-bottom: 50px;
}

#header-container {
	background-image: url(../images/contact/updoc-business-card-2.jpg);
}



#menu ul li:nth-child(6) {
	border-bottom: 1px solid #FE8C24;
}

#contact-content {
	width: 900px;
	height:450px;
	margin:20px auto;
	border:2px solid #333333;
	padding:25px;
}

#contact-content div h1 {
	font-family: norwester;
	color:#333333;
	margin:0px;
}

#contact-address {
	/*display: inline-block;*/
	width:365px;
	height:450px;
	/*background-color: blue;*/
	float: left;
	position: relative;
}

#contact-address h2 {
	font-family: dosis;
	color:#333333;
	margin-bottom:0px;
	font-size: 28px;
}

#contact-address em {
	font-family: dosis;
	color:#333333;
	font-size: 22px;
}

#map_canvas {
	width:311px;
	height:220px;
	position: absolute;
	bottom:0px;
	border:2px solid #333333;
}

#contact-form {
	/*display: inline-block;*/
	float: left;
	width:455px;
	height:450px;
	/*background-color: green;*/
	padding-left:25px;
	margin-left:50px;
}




