#header-container {
		background-image: url(../images/contact/updoc-business-card-2.jpg);
	}	

@media only all and (max-device-width: 767px) {
	#contact-content {
		width:94%;
		border:2px solid #333333;
		padding:3%;
	}

	#contact-address h1 {
		margin:0px;
		font-family: norwester;
		font-size: 82px;
		color:#333333;
		border-bottom:3px solid #FE8C24;
	}

	#contact-address h2 {
		font-family: norwester;
		font-size: 52px;
		color:#333333;
		margin-bottom:20px;
	}

	#contact-address em {
		font-size: 32px;
		font-family: dosis;
		color:#333333;
	}

	#contact-address h3 {
		font-family: norwester;
		color:#FE8C24;
		margin-bottom:40px;
		font-size: 52px;
	}

	#map_canvas {
		width:100%;
		height:500px;
	}

	#contact-form h1 {
		font-family: norwester;
		font-size: 82px;
		/*margin:0px;*/
		color:#333333;
		border-bottom: 2px solid #FE8C24;
	}

	#contact-form {
		width:100%;
		font-family: norwester;
		color:#333333;
		font-size: 52px;
	}

	.contact-input {
		width:100%;
		height:120px;
		border:1px solid #333333;
		font-size: 62px;
		color:#333333;
		font-family: dosis;
		margin:8px 0px;
	}

	#contact-submit {
		width:100%;
		height:100px;
		background-color: #FFFAEE;
		border:1px solid #FE8C24;
		font-family: dosis;
		font-size: 46px;
		margin:45px 0px;
		margin-top:55px;
	}


}

@media only all and (min-device-width: 1200px) {
	/*#header-container {
		background-image: url(../images/contact/updoc-business-card-2.jpg);
	}*/

	#contact-content {
		margin-top:25px;
		width:936px;
		border:2px solid #333333;
		padding:10px;
	}

	#contact-form {
		display: inline-block;
		width:320px;
		/*font-family: norwester;
		color:#333333;
		font-size: 24px;*/
		/*margin-left:32px;
		margin-right:32px;*/
		margin:22px 22px 22px 32px;
	}

	#contact-info {
		float:left;
		width:506px;
		margin:22px 0px 22px 22px;
		/*margin-left:32px;*/
		padding-right:32px; 
		border-right: 2px solid #333333;
		/*height:400px;
		background-color: green;*/
	}

	.contact-input {
		width:320px;
		height:30px;
		border:1px solid #333333;
		font-size: 18px;
		color:#333333;
		font-family: dosis;
		margin:8px 0px;
	}

	.contact-input:focus {
		outline: none !important;
    	border:2px solid #FE8C24;
	}

	#contact-name {
		width:320px;
		height:30px;
	}

	#contact-message {
		width:320px;
		height:200px;
		padding:0px;
	}

	#contact-submit {
		width:80px;
		height:30px;
		background-color: #FFFAEE;
		border:1px solid #FE8C24;
		float: right;
		font-family: dosis;
		font-size: 16px;
	}

	#map_canvas {
		width:100%;
		height:290px;
		border:2px solid #333333;
	}

	#contact-address h1{
		margin:0px;
		font-size: 26px;
		font-family: norwester;
		color:#333333;
		border-bottom: 2px solid #FE8C24;
	}

	#contact-address h2{
		font-family: norwester;
		color:#333333;
		margin-bottom: 0px;
	}

	#contact-address h3 {
		font-family: norwester;
		color:#FE8C24;
		margin-bottom:40px;
		font-size: 32px;
	}

	#contact-address em {
		font-family: dosis;
		color:#333333;
		font-size: 22px;
	}

	#contact-form h1 {
		font-family: norwester;
		font-size: 26px;
		margin:0px;
		margin-bottom: 25px;
		color:#333333;
		border-bottom: 2px solid #FE8C24;
	}

	#email-message h1 {
		font-size: 32px;
		font-family: norwester;
		color:#FE8C24;
	}

	.error {
		color:#FE8C24;
		font-size: 22px;
		font-family: dosis;
	}

	.label {
		font-family: norwester;
		color:#333333;
		font-size: 24px;
	}
}


