@media only all and (max-device-width: 767px) {
	#header-nav {
		background-image: url(../images/rolls-faberic.jpg);
	}	

}

@media only all and (min-device-width: 1200px) {
	#header-container {
		background-image: url(../images/rolls-faberic.jpg);
	}
}

/*#gallery-container {
	width:1200px;
	margin:0px auto;
	background-color: #FFFAEE;
	padding-bottom: 50px;
}

#header-container {
	background-image: url(../images/rolls-faberic.jpg);
}



#menu ul li:nth-child(4) {
	border-bottom: 1px solid #FE8C24;
}

.galleria {
	width:960px;
	height:600px;
}*/