@media only all and (max-device-width: 767px) {
	#header-nav {
		background-image: url(../images/home/home-page-xs.jpg);
	}

	#home-header-container {
		z-index: 20;
		position: relative;
		margin:0px;
		padding:0px;
	}

	#home-intro-big {
		display: none;
	}

	#home-intro {
		width:95%;
		margin:0px auto;
		/*height:230px;*/
		/*margin:0px auto;*/
		/*margin-top: 190px;*/
		/*background-color: green;*/
		padding-top:220px;
		position: static;
	}

	#home-intro-circles {
		width:75%;
		/*background-color: green;*/
		margin:0px auto;
	}

	#home-intro-circles h2 {
		margin:0px;
		font-size: 72px;
		color:#333333;
		font-family: dosis;
		text-align: center;
	}

	.my-circles {
		display: inline-block;
		width:200px;
		height:200px;
		border:3px solid #FE8C24;
		border-radius:100px;
		margin-right: 20px;
		margin-top: 50px;
		position: relative;
	}

	#res-circle {
		background-image: url(../images/home/residential-icon-dark.png);
		background-position: 60px 20px;
		background-repeat: no-repeat;
	}

	#bus-circle {
		background-image: url(../images/home/commercial-icon-dark.png);
		background-position:60px 20px;
		background-repeat: no-repeat;
	}

	#auto-circle {
		background-image: url(../images/home/auto-icon-dark.png);
		background-position:60px 15px;
		background-repeat: no-repeat;
	}

	.my-circles span {
		display: block;
		position: absolute;
		bottom:60px;
		left:8px;
		text-align: center;
		font-size: 42px;
		color:#333333;
		font-family: dosis;
		/*background-color: blue;*/
	}

	#home-content {
		margin-top: 450px;
	}
	
	#testimonial {
		width:95%;
		margin:25px auto;
		border:2px solid #333333;
	}

	#testimonial h3 {
		font-size: 62px;
		font-family: norwester;
		color:#333333;
		margin:0px;
		text-align: center;
		border-bottom: 2px solid #FE8C24;
	}

	.quote {
		width:90%;
		font-family: volkron;
		color:#333333;
		font-size: 48px;
		margin:0px auto;
		/*border-top: 2px solid #333333;*/
		border-bottom: 2px solid #333333;
	}

	#testimonial ul {
		width:60px;
		height:40px;
		margin:0px auto;
	}

	#testimonial ul li {
		width:20px;
		height:40px;
		float: left;
		margin:0px;
		padding:0px;
	}

	#testimonial ul li:nth-child(2) {
		color: #FE8C24;
	}

	#customer-quote {
		/*padding-left: 10px;*/
		padding-top:30px;
		font-family: volkron;
		color:#333333;
		font-size: 38px;
		height:100px;
		text-align: center;
		width:90%;
		margin:0px auto;
	}

	.test {
		width:50%;
		height:80px;
		/*background-color: blue;*/
		position: relative;
		margin:0px auto;
	}

	.test p {
		display: inline-block;
		margin:0px;
		height:80px;
		/*background-color: red;*/
		line-height: 80px;
		font-family: dosis;
		color:#333333;
		font-size: 42px;
		padding:0px 10px;
		position: absolute;
		left:0px;
	}

	.test img {
		position: absolute;
		right:10px;
	}

	#scissors {
		width:95%;
		/*height:700px;*/
		margin:100px auto;
		background-image: url(../images/home/scissors-med.png);
		background-position:bottom left;
		background-repeat: no-repeat;
		position: relative;
		border:2px solid #333333;
	}

	#scissors h4 {
		font-size: 52px;
		font-family: dosis;
		color: #FE8C24;
		/*text-align: center;*/
		margin:30px 0px 0px 0px;
		padding-bottom:100px;
		display: inline-block;
		position: absolute;
		bottom:50px;
		left:20px;
	}

	#scissors p {
		width:95%;
		font-size: 52px;
		padding-bottom:240px;
		margin:0px auto;
		/*position: absolute;
		top:0px;*/
	}

	#scissors-contact-btn {
		width:30%;
		height:60px;
		border:2px solid #333333;
		text-align: center;
		position: absolute;
		bottom:70px;
		right:20px;
		line-height: 60px;
	}

	#scissors-contact-btn a {
		text-decoration: none;
		color:#333333;
		font-family: norwester;
		font-size: 32px;

	}

	#scissors p span {
		font-family: norwester;
		color: #FE8C24;
	}

}

@media only all and (min-device-width: 768px) and (max-device-width: 991px) {
	#header-nav {
		background-image: url(../images/home/home-page-xs.jpg);
	}
}

@media only all and (min-width: 1200px) {

	#menu ul li:nth-child(1) {
		border-bottom: 1px solid #FE8C24; 
	}
	#home-header-container {
		width:1200px;
		/*height:420px;*/
		position: relative;
		height:801px;
		background-image: url(../images/home/home-page-photo.jpg);
		position:relative;
	}

	#home-intro {
		width:960px;
		height:741px;
		/*background-color: red;*/
		margin:0px auto;
	}

	#home-intro-big {
		position: absolute;
		top:250px;
	}

	#home-intro-big h1 {
		margin:0px;
		font-size:110px;
		color:#FFFAEE;
		font-family: norwester;

	}

	#home-intro-circles {
		position: absolute;
		bottom:100px;
	}

	#home-intro-circles h2 {
		font-size: 52px;
		color:#333333;
		font-family: dosis;
		margin:0px 0px 10px 20px;
	}

	.my-circles {
		display: inline-block;
		width:120px;
		height:120px;
		border:3px solid #FE8C24;
		border-radius:60px;
		margin-right: 20px;
		position: relative;
	}

	.my-circles span {
		display: block;
		position: absolute;
		bottom:20px;
		left:12px;
		text-align: center;
		font-size: 22px;
		color:#FFFAEE;
		font-family: dosis;
		/*background-color: blue;*/
	}

	#res-circle {
		background-image: url(../images/home/residential-icon.png);
		background-position:top center;
		background-repeat: no-repeat;
	}

	#bus-circle {
		background-image: url(../images/home/commercial-icon.png);
		background-position:top center;
		background-repeat: no-repeat;
	}

	#auto-circle {
		background-image: url(../images/home/auto-icon.png);
		background-position:top center;
		background-repeat: no-repeat;
	}

	#home-content {
		margin-top: 25px;
		height:605px;
	}

	#testimonial {
		/*display: inline-block;*/
		width:400px;
		height:545px;
		border:2px solid #333333;
		float: left;
		margin-left:50px;
		/*position: relative;*/
	}

	#testimonial h3 {
		font-size: 30px;
		font-family: norwester;
		color:#333333;
		margin:0px;
		text-align: center;
		padding-top: 15px;
		border-bottom: 2px solid #FE8C24;
	}

	.quote {
		width:360px;
		padding:0px 10px;
		font-family: volkron;
		color:#333333;
		font-size: 22px;
		margin:0px 10px;
		/*border-top: 2px solid #333333;*/
		/*border-bottom: 2px solid #333333;*/
	}

	#border-quote {
		border-top: 2px solid #333333;
		border-bottom: 2px solid #333333;
	}

	#customer-quote {
		/*padding-left: 10px;*/
		padding-top:30px;
		font-family: volkron;
		color:#333333;
		font-size: 22px;
		height:200px;
		text-align: center;
	}
	/*#testimonial {
		width:400px;
		float: left;
	}*/
	#testimonial ul {
		width:60px;
		height:40px;
		margin:0px auto;
	}

	#testimonial ul li {
		width:20px;
		height:40px;
		float: left;
		margin:0px;
		padding:0px;
	}

	#testimonial ul li:nth-child(1) {
		color: #FE8C24;
	}

	.test {
		width:100%;
		height:60px;
		/*background-color: blue;*/
		position: relative;
	}

	.test p {
		display: inline-block;
		margin:0px;
		height:80px;
		/*background-color: red;*/
		line-height: 80px;
		font-family: dosis;
		color:#333333;
		font-size: 26px;
		padding:0px 10px;
		position: absolute;
		left:0px;
	}

	.test img {
		position: absolute;
		right:10px;
	}

	#scissors {
		width:500px;
		height:545px;
		/*margin-left: 50px;*/
		/*display: inline-block;*/
		/*background-color: blue;*/
		float: left;
		background-image: url(../images/home/scissors-med.png);
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
	}

	#scissors h4 {
		font-size: 46px;
		font-family: dosis;
		color:#FE8C24;
		/*text-align: center;*/
		margin:0px 0px 20px 0px;
		border-bottom: 2px solid #333333;
		padding-bottom:150px;
		padding-left:40px;
	}

	#scissors p {
		font-size: 24px;
		font-family: volkron;
		color:#333333;
		margin:0px;
	}

	#scissors p span {
		font-family: norwester;
		color: #FE8C24;
	}

	#scissors-contact-btn {
		width:220px;
		height:40px;
		border:2px solid #333333;
		margin:0px auto;
		text-align: center;
		position: absolute;
		bottom:0px;
		right:0px;
	}

	#scissors-contact-btn a {
		text-decoration: none;
		color:#333333;
		font-family: norwester;
		font-size: 32px;

	}
}