@media only all and (max-device-width: 767px) {
	#header-nav {
		background-image: url(../images/sewing-machine-foot.jpg);
	}	

}

@media only all and (min-device-width: 1200px) {
	#header-container {
		background-image: url(../images/sewing-machine-foot.jpg);
	}
}

/*#quote-container {
	width:1200px;
	margin:0px auto;
	background-color: #FFFAEE;
	padding-bottom: 50px;
}

#header-container {
	background-image: url(../images/sewing-machine-foot.jpg);
}



#menu ul li:nth-child(5) {
	border-bottom: 1px solid #FE8C24;
}*/