@media only all and (max-device-width: 767px) {
	#header-container {
		background-image: url(../images/services/upholstery-tools.jpg);
	}

	#services-content {
		width:100%
	}

	#services-content div {
		width:94%;
		padding:3%;
		border:2px solid #333333;
		position: relative;
		margin-bottom:20px;
	}

	#services-content div img {
		width:100%;
		margin:150px 0px 20px 0px;
	}

	#services-content div h1 {
		color:#333333;
		font-family: norwester;
		font-size: 62px;
		position: absolute;
		top:0px;
		padding-left: 20px;
	}

	#services-content div ul {
		width: 90%;
		margin:50px auto;
	}

	#services-content div ul li {
		width: 100%;
		font-family: dosis;
		font-size: 48px;
		color:#FE8C24;
	}

	#services-content div ul li span {
		color:#333333;
	}

	.auto-state-btn {
		display: inline-block;
		width:39%;
		height:100px;
		border:2px solid #333333;
		font-size: 52px;
		font-family: norwester;
		color:#333333;
		text-align: center;
		line-height: 100px;
		margin-left: 5%;
	}

	.service-state {
		background-color: rgba(254, 140, 36, 0.7);
		width:94%;
		height:100px;
		position:absolute;
		top:210px;
		font-family: dosis;
		font-size:52px;
		color:#FFFAEE;
		line-height: 100px;
	}

	#services-content div a {
		text-align: right;
		font-family: norwester;
		color:#333333;
		font-size: 48px;
		position: absolute;
		bottom:10px;
		right:0px;
		text-decoration: none;
	}

}

@media only all and (min-device-width: 768px) and (max-device-width: 969px) {
	#header-container {
		background-image: url(../images/services/upholstery-tools.jpg);
	}

	#services-content {
		width:100%;
	}

	#services-content div {
		width:94%;
		border:2px solid #333333;
		padding:3%;
		position: relative;
		margin-bottom: 20px;
		/*margin-top:25px;*/
	}

	#services-content div h1 {
		width:40%;
		display: inline-block; 
		position: absolute;
		top:0px;
		left:370px;
		color:#333333;
		font-family: norwester;
		font-size: 42px;
	}

	#services-content div ul {
		width:40%;
		display: inline-block;
		position: absolute;
		top:85px;
		left:395px;
		margin:0px;
		padding:0px;
	}

	#services-content div ul li {
		width:100%;
		font-family: dosis;
		font-size: 24px;
		color:#FE8C24;
		margin:0px;
		padding:0px;
	}

	#services-content div ul li span {
		color:#333333;
	}

	.service-state {
		background-color: rgba(254, 140, 36, 0.7);
		width:300px;
		height:50px;
		position:absolute;
		left:3%;
		top:10%;
		font-family: norwester;
		font-size:32px;
		color:#FFFAEE;
		line-height: 50px;
	}

	.services-quote-link {
		display: block;
		width:300px;
		position:absolute;
		right:3%;
		bottom:3%;
		font-family: norwester;
		font-size: 26px;
		color:#333333;
		text-align: right;
		text-decoration: none;
	}

	.auto-state-btn {
		display: inline-block;
		width:100px;
		height:30px;
		border:2px solid #FFFAEE;
		font-size: 26px;
		font-family: dosis; 
		color:#FFFAEE;
		text-align: center;
		line-height: 30px;
		background-color: rgba(51, 51, 51, 0.7);
	}

	#auto-state-before {
		position: absolute;
		bottom:10%;
		left:6%;
	}

	#auto-state-after {
		position: absolute;
		bottom:10%;
		left:20%;
	}

	#furniture-state-before {
		position: absolute;
		bottom:10%;
		left:6%;
	}

	#furniture-state-after {
		position: absolute;
		bottom:10%;
		left:20%;
	}
}

@media only all and (min-device-width: 1200px) {
	#header-container {
		background-image: url(../images/services/upholstery-tools.jpg);
	}

	#services-content {
		width:960px;
		margin-top:25px;
		margin-bottom:50px;
	}

	#services-content div {
		width:936px;
		border:2px solid #333333;
		padding:10px;
		position: relative;
		margin-top:25px;
	}

	#services-content div h1 {
		width:340px;
		display: inline-block; 
		position: absolute;
		top:0px;
		left:370px;
		color:#333333;
		font-family: norwester;
		font-size: 42px;
	}

	#services-content div ul {
		width:300px;
		display: inline-block;
		position: absolute;
		top:75px;
		left:350px;
	}

	#services-content div ul li {
		font-family: dosis;
		font-size: 24px;
		color:#FE8C24;
	}

	#services-content div ul li span {
		color:#333333;
	}

	.service-state {
		background-color: rgba(254, 140, 36, 0.7);
		width:280px;
		height:50px;
		position:absolute;
		top:25px;
		left:10px;
		font-family: norwester;
		font-size:32px;
		color:#FFFAEE;
		padding-left: 20px;
		line-height: 50px;
	}

	.services-quote-link {
		display: block;
		width:300px;
		position:absolute;
		right:10px;
		bottom:10px;
		font-family: norwester;
		font-size: 26px;
		color:#333333;
		text-align: right;
	}

	

	.auto-state-btn {
		display: inline-block;
		width:100px;
		height:30px;
		border:2px solid #FFFAEE;
		font-size: 26px;
		font-family: dosis; 
		color:#FFFAEE;
		text-align: center;
		line-height: 30px;
		background-color: rgba(51, 51, 51, 0.7);
	}

	#auto-state-before {
		position: absolute;
		bottom:25px;
		left:50px;
	}

	#auto-state-after {
		position: absolute;
		bottom:25px;
		left:175px;
	}

	#furniture-state-before {
		position: absolute;
		bottom:25px;
		left:50px;
	}

	#furniture-state-after {
		position: absolute;
		bottom:25px;
		left:175px;
	}
}



/*#services-container {
	width:1200px;
	margin:0px auto;
	background-color: #FFFAEE;
}

#menu ul li:nth-child(3) {
	border-bottom: 1px solid #FE8C24;
}

#header-container {
	background-image: url(../images/services/upholstery-tools.jpg);
}

#services-content {
	width:960px;
	margin:0px auto;
	padding:0px;
}

.service-state {
	background-color: rgba(254, 140, 36, 0.7);
	width:280px;
	height:50px;
	position:absolute;
	top:25px;
	left:10px;
	font-family: norwester;
	font-size:32px;
	color:#FFFAEE;
	padding-left: 20px;
	line-height: 50px;
}


#services-content div {
	width:930px;
	height:400px;
	margin:50px auto;
	border:2px solid #333333;
	padding:10px;
	position: relative;
}



#services-content div img {
	width:300px;
	height:400px;
}

#services-content div h1 {
	width:340px;
	display: inline-block; 
	position: absolute;
	top:0px;
	left:370px;
	color:#333333;
	font-family: norwester;
	font-size: 42px;
}

#services-content div ul {
	width:300px;
	display: inline-block;
	position: absolute;
	top:75px;
	left:350px;
}

#services-content div ul li {
	font-family: dosis;
	font-size: 24px;
	color:#FE8C24;
}

#services-content div ul li span {
	color:#333333;
}

#services-content div a {
	display: block;
	width:300px;
	position:absolute;
	right:10px;
	bottom:10px;
	font-family: norwester;
	font-size: 26px;
	color:#333333;
	text-align: right;
}

.dropshadow { 
	border: solid 1px #CCC;
 	-moz-box-shadow: 5px 5px 0px #999;
 	-webkit-box-shadow: 5px 5px 0px #999;
 	box-shadow: 5px 5px 0px #999;
 }*/