@font-face {
	font-family: norwester;
	src: url(fonts/norwester/norwester.otf);
}

@font-face {
	font-family: dosis;
	src: url(fonts/dosis/Dosis-ExtraBold.otf);
}

@font-face {
	font-family: volkron;
	src: url(fonts/Volkron/Volkron-Regular.ttf);
}

body {
	margin:0px;
	padding:0px;
	background-color: #333333;
}

@media only all and (max-device-width: 767px) {
	body {
		background-color: #333333;
		margin:0px;
	}

	#container {
		width:100%;
		height:100%;
	}

	#header-container {
		width:100%;
		height:180px;
		/*position: fixed;
		top:0px;*/
		box-shadow: 0px 5px 10px #444;
		/*z-index: 10;*/
	}

	#header-nav {
		width:100%;
		height:180px;
		position: fixed;
		top:0px;
		/*position: absolute;
		top:0px;*/
		z-index: 10;
	}

	#header-fade {
		width:100%;
		height:180px;
		background-color: rgba(51, 51, 51, 0.7);
		margin: 0px;
		position: absolute;
		top:0px;
	}

	#header-wrapper {
		width:100%;
		height:180px;
		position: absolute;
		top:0px;
	}

	nav {
		display: block;
		width:100%;
		height:180px;
		position: absolute;
		top: 0px;
	}

	#logo {
		display: inline-block;
		width: 50%;
		height:180px;
		position:absolute;
		left:10px;
		top:0px;
		margin: 0px;
		padding:0px;
		/*background-color: blue;*/
	}

	#logo img {
		width:95px;
		position: absolute;
		bottom: 0px;
		left:10px;
		margin: 0px;
	}

	#logo h1 {
		display: inline-block;
		font-family: norwester;
		font-size: 82px;
		color:#FE8C24;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		left:15px;
	}

	#logo h2 {
		margin:0px;
		font-family:dosis;
		font-size: 72px;
		color:#FFFAEE;
		position: absolute;
		left:115px;
		bottom:0px;
	}

	#menu {
		visibility: hidden;
		width:0px;
		height:0px;
	}

	#menu ul {
		width:0px;
		height:0px;
	}

	#menu ul li {
		width:0px;
		height:0px;
	}

	#menu a {
		width:0px;
		height:0px;
	}


	#mobile-menu-btn {
		display: inline-block;
		position: absolute;
		top:0px;
		right:20px;
		width:50%;
		height:180px;
		margin: 0px;
		padding: 0px;
		/*background-color: red;*/
	}

	#mobile-menu-btn span {
		position: absolute;
		right:150px;
		line-height: 180px;
		font-family: dosis;
		font-size: 38px;
		color:#FFFAEE;
	}

	#mobile-menu-icon {
		width:120px;
		height: 100px;
		border:2px solid #FFFAEE;
		position: absolute;
		right:10px;
		top:35px;
		padding-top:5px;
	}

	#mobile-menu-icon.orange {
		background-color: #FE8C24;
	}

	.mobile-menu-bar {
		width:110px;
		height:10px;
		margin:10px auto;
		background-color: #FFFAEE;
	}

	#mobile-menu {
		display: none;
		/*visibility: hidden;*/
		width:100%;
		height:800px;
		position: absolute;
		top:180px;
		background-color: #333333;
		z-index: 40;
	}

	#mobile-menu ul {
		width:100%;
		margin:0px;
		padding:0px;
	}

	#mobile-menu ul li {
		width:100%;
		margin:10px 0px;
		font-size: 92px;
		font-family: norwester;
		text-align: center;
		border-bottom: 2px solid #FFFAEE;
	}

	#mobile-menu a {
		text-decoration: none;
		color:#FFFAEE;
	}

	#header-intro {
		display: none;
	}

	#content {
		width:95%;
		/*height:1800px;*/
		margin:0px 20px;
		background-color: #FFFAEE;
		position: absolute;
		top:180px;
		z-index: 0;
	}
}

@media only all and (min-device-width: 768px) and (max-device-width: 991px) {
	
}

@media only all and (min-width: 1200px) {
	#container {
		width:1200px;
		margin:0px auto;
		background-color: #FFFAEE;
		padding-bottom:50px;
	}

	#header-container {
		width:1200px;
		/*height:420px;*/
		position: relative;
	}

	#header-nav {
		width:1200px;
		height:60px;
	}

	#header-fade {
		width:1200px;
		height:60px;
		background-color: rgba(51, 51, 51, 0.7);
	}

	#header-wrapper {
		width:960px;
		margin: 0px auto;
	}

	nav {
		width:960px;
		height:60px;
	}

	#logo {
		display:inline-block;
		position: relative;
		width:350px;
		height:60px;
	}

	#logo h1 {
		display: inline-block;
		font-family: norwester;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		line-height: 60px;
		font-size: 35px;
		color: #FE8C24;
		
	}

	#logo h2 {
		display: inline-block;
		font-family: dosis;
		font-size: 32px;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		left:245px;
		line-height: 60px;
		color:#FFFAEE;
	}

	#mobile-menu {
		display: none;
	}

	#mobile-menu-btn {
		display:none;
	}

	#menu {
		display:inline-block;
		width:600px;
		height:60px;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top:0;
	}

	#menu ul {
		display: inline-block;
		height:60px;
		margin:0px;
		padding-left:40px;
		float:right;
	}

	#menu ul li {
		display: inline-block;
		margin:0px 10px 0px 10px;
		padding:20px 0px 0px 0px;
		font-family: norwester;
		font-size: 20px;
		text-align: right;
		color:#FFFAEE;
	}

	#menu ul li:hover {
		border-bottom: 1px solid #FE8C24;
	}
	#menu a {
		text-decoration: none;
		color:#FFFAEE;
	}

	#header-intro {
		width:960px;
		height:350px;
		margin:0px auto;
		position: relative;
	}

	#header-intro h1 {
		margin:0px;
		font-size: 92px;
		font-family: norwester;
		color:#FFFAEE;
		position: absolute;
		bottom:50px;
	}

	#content {
		width:960px;
		/*height:600px;
		background-color: blue;*/
		margin: 0px auto;
	}

} 

/*@media (min-width: 1200px) {
	#header-fade {
	background-color: rgba(51, 51, 51, 0.6);
	width:1200px;
	}

	#header-wrapper {
		width:960px;
		margin:0px auto;
	}

	#header-container {
		width:1200px;
		height:420px;
		position:relative;
	}

	#header-intro {
		width:960px;
		margin:0px auto;
	}

	#header-intro h3 {
		font-family: norwester;
		font-size: 92px;
		color:#FFFAEE;
		position: absolute;
		bottom:20px;
		margin:0px;
	}

	#content {
		width:960px;
		margin:0px auto;
		margin-top:50px;
		padding-bottom: 50px;
	}

	nav {
		margin:0px;
		padding:0px;
		position: relative;
	}

	#logo {
		display:inline-block;
		position: relative;
		width:350px;
		height:60px;
	}

	#mobile-menu-btn {
		visibility: hidden;
	}

	#mobile-menu {
		visibility: hidden;
	}

	#menu {
		display:inline-block;
		width:600px;
		height:60px;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top:0;
	}

	#menu ul {
		display: inline-block;
		height:60px;
		margin:0px;
		padding-left:40px;
		float:right;
	}

	#menu ul li {
		display: inline-block;
		margin:0px 10px 0px 10px;
		padding:20px 0px 0px 0px;
		font-family: norwester;
		font-size: 20px;
		text-align: right;
		color:#FFFAEE;
	}

	#menu ul li:hover {
		border-bottom: 1px solid #FE8C24;
	}
	#menu a {
		text-decoration: none;
		color:#FFFAEE;
	}

	#logo h1 {
		display: inline-block;
		font-family: norwester;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		line-height: 60px;
		font-size: 35px;
		color: #FE8C24;
		
	}

	#logo h2 {
		display: inline-block;
		font-family: dosis;
		font-size: 32px;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		left:245px;
		line-height: 60px;
		color:#FFFAEE;
	}



	.my-circles {
		display: inline-block;
		width:120px;
		height:120px;
		border:2px solid #FE8C24;
		border-radius:60px;
		margin-right: 20px;
	}


}
*/
















